apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: facesplit-qa375

namespace: app

generatorOptions:
  disableNameSuffixHash: true

resources:
  - ../../base
  - external-secret-patch.yaml

patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: facesplit-ingress

configMapGenerator:
  - name: facesplit-config
    literals:
      - AWS_REGION=eu-central-1
      - AES_MOTHER_KEY_ID=test_mother_aes_key
      - PORT=3030
      - DEFAULT_ADMIN_DATA=00
      - AES_CBC_CHUNK_SIZE=16000
      - DATABASE_PORT=3306
      - HMAC_KEY_ID=test_hmac_key
      - HMAC_CONSTANT_PADDING_P2_HEX=5049424142494F53504C4954
      - ECDSA_PUBLIC_KEY_ID=test_public_ecdsa_384_key
      - S3_BUCKET_NAME=pia-noise-qa
      - ECDSA_PRIVATE_KEY_ID=test_private_ecdsa_384_key
      - DATABASE_TABLE_NAME=part1
      - USE_HSM_MOCK=true
      - ENABLE_HTTPS=true
      - DATABASE_SCHEMA=face_split
      - AES_CONSTANT_PADDING_P1_HEX=000102030405060708090A0B

images:
  - name: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/pia_face
    newTag: version_3.7.5_0aa694b_37

commonLabels:
  environment: qa
  version: "3.7.5"

commonAnnotations:
  environment: "qa"
