env: dev
sharedConfigRef:
  enabled: true
  name: shared-configmap
ingress:
  annotations:
    alb.ingress.kubernetes.io/group.name: dev-external
    alb.ingress.kubernetes.io/load-balancer-name: dev-eks-external-alb
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-central-1:495947449196:certificate/4a3a93b7-6a07-43f5-8d82-13ecd28be75e
    external-dns.alpha.kubernetes.io/ttl: "300"
