replicaCount: 2

service:
  name: companies
  port: 8040
  targetPort: 8040
  ports:
  - name: core
    port: 5002
    targetPort: 5002
    protocol: TCP
  - name: gateway-https
    port: 8040
    targetPort: 8040
    protocol: TCP
  - name: core-https
    port: 8050
    targetPort: 8050
    protocol: TCP
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
  - name: http-8060
    port: 8060
    targetPort: 8060
    protocol: TCP
  - name: http-8080
    port: 8080
    targetPort: 8080
    protocol: TCP

ingress:
  internal: false
  className: alb
  annotations:
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443},{"HTTP":80}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/backend-protocol: HTTPS
    alb.ingress.kubernetes.io/target-type: ip
    external-dns.alpha.kubernetes.io/ttl: "300"
    alb.ingress.kubernetes.io/healthcheck-path: /alive
    alb.ingress.kubernetes.io/healthcheck-port: "8080"
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
    alb.ingress.kubernetes.io/scheme: internet-facing
  paths:
  - path: /
    pathType: Prefix
    serviceName: companies-service
    port: 8040

image:
  repository: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/platform_nginx
  tag: latest

resources:
  requests:
    cpu: "512m"
    memory: "1Gi"
  limits:
    cpu: "1024m"
    memory: "2Gi"

config:
  create: true
  name: companies-config
  data: {}

secret:
  create: false
  name: companies-secrets

externalSecrets: []

scaledObject:
  enabled: true
  pollingInterval: 30
  cooldownPeriod: 300
  minReplicaCount: 2
  maxReplicaCount: 3
  triggers:
  - type: cpu
    metadata:
      type: Utilization
      value: "50"
  - type: memory
    metadata:
      type: Utilization
      value: "70"
