replicaCount: 2
service:
  name: console
  port: 8010
  targetPort: 8010
  ports:
  - name: 8010-tcp
    port: 8010
    targetPort: 8010
    protocol: TCP
  

ingress:
  internal: false
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    
  paths:
    - path: /
      pathType: Prefix
      serviceName: console
      port: 8010
    

image:
  repository: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/console
  tag: latest

resources:
  requests:
    cpu: "1024m"
    memory: "1Gi"
  limits:
    cpu: "2048m"
    memory: "2Gi"
  

config:
  create: true
  name: console-config
  data: {}

secret:
  create: false
  name: console-secrets

externalSecrets: []

extraEnv:
  - name: AUTH_URL
    valueFrom:
      configMapKeyRef:
        name: shared-configmap
        key: AUTH_URL
  

scaledObject:
  enabled: true
  pollingInterval: 30
  cooldownPeriod: 300
  minReplicaCount: 2
  maxReplicaCount: 3
  triggers:
    - type: cpu
      metadata:
        type: Utilization
        value: "60"
    - type: memory
      metadata:
        type: Utilization
        value: "70"
