image:
  tag: version_3.7.5_0cde208_29

service:
  labels:
    version: "3.7.5"

config:
  data:
    AWS_REGION: "eu-central-1"
    INJECTION_DETECTION_SERVER_URL: "https://liveness-injection-detection.dev-eks.internal-services:8443"
    SSL_CERT_CHAIN_SECRET_NAME: "dev-eks-internal-services-ssl-ca-crt"
    MODE: "saas"
    PRESENTATION_DETECTION_SERVER_URL: "https://liveness-presentation-detection.dev-eks.internal-services:8443"
    AWS_DEFAULT_REGION: "eu-central-1"
    ENABLE_ANALYTICS: ""true""

ingress:
  annotations:
    alb.ingress.kubernetes.io/group.name: dev-external
    alb.ingress.kubernetes.io/load-balancer-name: dev-eks-external-alb
    alb.ingress.kubernetes.io/healthcheck-path: /alive
    alb.ingress.kubernetes.io/healthcheck-port: '5050'
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-central-1:495947449196:certificate/5152bcf9-4464-4bb3-8953-014a10d654c5
    

externalSecrets:
  - name: liveness-external-secret
    secretStoreRef:
      name: aws-secrets-manager
      kind: ClusterSecretStore
    refreshInterval: 5m
    targetName: liveness-secrets
    data:
      - secretKey: JWT_SECRET_KEY
        remoteRef:
          key: INJECTION_DETECTION_KEY
      - secretKey: KINESIS_STREAM_NAME
        remoteRef:
          key: dev_kinesis_credentials
          property: kinesis_stream
      - secretKey: IDENTITY_POOL_ID
        remoteRef:
          key: dev_kinesis_credentials
          property: identity_pool_id
      - secretKey: AUTH_CLIENT_ID
        remoteRef:
          key: LIVENESS_AUTH_V3_DEV
          property: AUTH_CLIENT_ID
      - secretKey: AUTH_CLIENT_SECRET
        remoteRef:
          key: LIVENESS_AUTH_V3_DEV
          property: AUTH_CLIENT_SECRET
  
