replicaCount: 2
service:
  name: ngocr
  port: 5010
  targetPort: 5010
  ports:
  - name: 5010-tcp
    port: 5010
    targetPort: 5010
    protocol: TCP
  

ingress:
  internal: false
  className: alb
  annotations:
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/scheme: internet-facing
    
  paths:
    - path: /
      pathType: Prefix
      serviceName: ngocr-service
      port: 5010
    

image:
  repository: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/ng_ocr
  tag: latest

resources:
  requests:
    cpu: "1024m"
    memory: "2Gi"
  limits:
    cpu: "3584m"
    memory: "7Gi"
  

config:
  create: true
  name: ngocr-config
  data: {}

secret:
  create: false
  name: ngocr-secrets

externalSecrets: []

extraEnv:
  - name: AUTH_URL
    valueFrom:
      configMapKeyRef:
        name: shared-configmap
        key: AUTH_URL
  

scaledObject:
  enabled: true
  pollingInterval: 30
  cooldownPeriod: 300
  minReplicaCount: 2
  maxReplicaCount: 3
  triggers:
    - type: cpu
      metadata:
        type: Utilization
        value: "60"
    - type: memory
      metadata:
        type: Utilization
        value: "70"
