image:
  tag: 

service:
  labels:
    version: ""

config:
  data:
    CAPTCHA_SOLVED_DELAY: "250"
    PYTHONPATH: "server"
    REQUEST_TIMEOUT: "300"
    AWS_REGION: "eu-central-1"
    ENABLE_DOCS: "false"
    CAPTCHA_AFTER_FAILED_LOGINS: "3"
    CAPTCHA_ENABLED: "1"
    SSL_CERT_CHAIN_SECRET_NAME: "qa-internal-services-ssl-ca-crt"
    CAPTCHA_DOMAINS: "purpleray.com"
    KINESIS_STREAM_NAME: "test_purple_events"
    AWS_REGION_NAME: "eu-central-1"
    IDENTITY_POOL_ID: "eu-central-1:6d48067d-753f-4c32-ae14-14b9a153985b"

ingress:
  annotations:
    alb.ingress.kubernetes.io/group.name: qa-external
    alb.ingress.kubernetes.io/load-balancer-name: qa-eks-external-alb
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-central-1:495947449196:certificate/4a3a93b7-6a07-43f5-8d82-13ecd28be75e
    external-dns.alpha.kubernetes.io/ttl: "300"
    

externalSecrets:
  - name: portal-external-secrets
    secretStoreRef:
      name: aws-secrets-manager
      kind: ClusterSecretStore
    refreshInterval: 5m
    targetName: portal-secrets
    data:
      - secretKey: CAPTCHA_JS_SCRIPT
        remoteRef:
          key: QA_CAPTCHA_FRONTED
          property: CAPTCHA_JS_SCRIPT
      - secretKey: CAPTCHA_API_KEY
        remoteRef:
          key: QA_CAPTCHA_FRONTED
          property: PORTAL_CAPTCHA_API_KEY
      - secretKey: CLIENT_ID
        remoteRef:
          key: test_frontend_secrets
          property: PORTAL_CLIENT_ID
      - secretKey: CLIENT_SECRET
        remoteRef:
          key: test_frontend_secrets
          property: PORTAL_CLIENT_SECRET
      - secretKey: FERNET_KEY
        remoteRef:
          key: test_frontend_secrets
          property: FERNET_KEY
  - name: portal-ssm-external-secrets
    secretStoreRef:
      name: aws-parameter-store
      kind: ClusterSecretStore
    refreshInterval: 5m
    targetName: portal-secrets
    data:
      - secretKey: MAINTENANCE_KEY
        remoteRef:
          key: MAINTENANCE_KEY-qa-v35
  
