image:
  tag: 

service:
  labels:
    version: ""

config:
  data:
    CAPTCHA_SOLVED_DELAY: "250"
    PYTHONPATH: "server"
    CLIENT_SECRET: "2tr5cfZB4AN&eLPydgsBGMiK3ArDae$@plbVE!7f"
    REQUEST_TIMEOUT: "300"
    AWS_REGION: "eu-central-1"
    ENABLE_DOCS: "True"
    CAPTCHA_AFTER_FAILED_LOGINS: "3"
    CAPTCHA_ENABLED: "1"
    FERNET_KEY: "daYUf0bLc_e14x1aoprgcEpLp2RfSA-01FACKa6bZ2Q="
    CLIENT_ID: "0nqFGaPkYUhSbTU2Nm0Rylp0sbWaIM"
    SSL_CERT_CHAIN_SECRET_NAME: "dev-eks-internal-services-ssl-ca-crt"
    CAPTCHA_DOMAINS: "purpleray.com,dev-local.com"

ingress:
  annotations:
    alb.ingress.kubernetes.io/group.name: dev-external
    alb.ingress.kubernetes.io/load-balancer-name: dev-eks-external-alb
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:eu-central-1:495947449196:certificate/4a3a93b7-6a07-43f5-8d82-13ecd28be75e
    

externalSecrets:
  - name: portal-external-secrets
    secretStoreRef:
      name: aws-secrets-manager
      kind: ClusterSecretStore
    refreshInterval: 5m
    targetName: portal-secrets
    data:
      - secretKey: CAPTCHA_JS_SCRIPT
        remoteRef:
          key: DEV_CAPTCHA_FRONTED
          property: CAPTCHA_JS_SCRIPT
      - secretKey: CAPTCHA_API_KEY
        remoteRef:
          key: DEV_CAPTCHA_FRONTED
          property: PORTAL_CAPTCHA_API_KEY
  - name: portal-ssm-external-secrets
    secretStoreRef:
      name: aws-parameter-store
      kind: ClusterSecretStore
    refreshInterval: 5m
    targetName: portal-secrets
    data:
      - secretKey: MAINTENANCE_KEY
        remoteRef:
          key: MAINTENANCE_KEY-dev
  
