replicaCount: 1
service:
  name: video-statement
  port: 5020
  targetPort: 5020
  ports:
  - name: stt-5020-tcp
    port: 5020
    targetPort: 5020
    protocol: TCP
  

ingress:
  internal: false
  className: alb
  annotations:
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/scheme: internet-facing
    
  paths:
    - path: /
      pathType: Prefix
      serviceName: video-statement-service
      port: 5020
    

image:
  repository: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/video_statement
  tag: latest

resources:
  requests:
    cpu: "512m"
    memory: "1Gi"
  limits:
    cpu: "1024m"
    memory: "2Gi"
  

config:
  create: true
  name: video-statement-config
  data: {}

secret:
  create: false
  name: video-statement-secrets

externalSecrets: []

extraEnv:
  - name: AUTH_URL
    valueFrom:
      configMapKeyRef:
        name: shared-configmap
        key: AUTH_URL
  

scaledObject:
  enabled: true
  pollingInterval: 30
  cooldownPeriod: 300
  minReplicaCount: 1
  maxReplicaCount: 1
  triggers:
    - type: cpu
      metadata:
        type: Utilization
        value: "70"
    - type: memory
      metadata:
        type: Utilization
        value: "80"
