apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: ocr-dev

namespace: app

generatorOptions:
  disableNameSuffixHash: true

resources:
  - ../../base
  - external-secret-patch.yaml

images:
  - name: 495947449196.dkr.ecr.eu-central-1.amazonaws.com/ocr
    newTag: version_3.7.5_d2d5060_138

configMapGenerator:
  - name: ocr-config
    literals:
      - MODE=saas
      - ENABLE_ANALYTICS=true
      - AWS_DEFAULT_REGION=eu-central-1
      - SSL_CERT_CHAIN_SECRET_NAME=dev-eks-internal-services-ssl-ca-crt

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: ocr
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: ocr-ingress


commonLabels:
  environment: dev
  version: "3.7.5"

commonAnnotations:
  environment: "development"
