apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: portal-dev

namespace: app

resources:
- ../../base
- external-secret-patch.yaml

configMapGenerator:
- name: portal-config
  literals:
  - CAPTCHA_SOLVED_DELAY=250
  - PYTHONPATH=server
  - CLIENT_SECRET=2tr5cfZB4AN&eLPydgsBGMiK3ArDae$@plbVE!7f
  - REQUEST_TIMEOUT=300
  - AWS_REGION=eu-central-1
  - ENABLE_DOCS=True
  - CAPTCHA_AFTER_FAILED_LOGINS=3
  - CAPTCHA_ENABLED=1
  - FERNET_KEY=daYUf0bLc_e14x1aoprgcEpLp2RfSA-01FACKa6bZ2Q=
  - CLIENT_ID=0nqFGaPkYUhSbTU2Nm0Rylp0sbWaIM
  - SSL_CERT_CHAIN_SECRET_NAME=dev-eks-internal-services-ssl-ca-crt
  - CAPTCHA_DOMAINS=purpleray.com,dev-local.com

patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: portal-ingress

commonLabels:
  environment: dev
