apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-service" (include "service.fullname" .) }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "service.labels" . | indent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
{{- $ports := .Values.service.ports }}
{{- if not (empty $ports) }}
{{- range $ports }}
  - name: {{ .name | default (printf "%s-%d-tcp" $.Values.service.name (.port | int)) }}
    port: {{ .port }}
    targetPort: {{ .targetPort | default .port }}
    protocol: {{ .protocol | default "TCP" }}
{{- end }}
{{- else }}
  - name: {{ printf "%s-%d-tcp" (.Values.service.name | default .Chart.Name) (.Values.service.port | int) }}
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort | default .Values.service.port }}
    protocol: TCP
{{- end }}
  selector:
    app: {{ include "service.fullname" . }}
