{{- if .Values.traefik.enabled }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ printf "%s-traefik" (include "service.fullname" .) }}
  namespace: {{ .Values.namespace }}
spec:
  {{- if .Values.traefik.entryPoints }}
  entryPoints:
  {{- range .Values.traefik.entryPoints }}
  - {{ . }}
  {{- end }}
  {{- end }}
  routes:
  - match: Host(`{{ include "service.ingressHost" . }}`)
    services:
    - name: {{ printf "%s-service" (include "service.fullname" .) }}
      port: {{ .Values.service.port }}
      sticky:
        cookie:
          name: {{ default "Session-ID" .Values.traefik.stickyCookieName }}
    {{- $middlewares := list }}
    {{- if .Values.traefik.routerMiddlewares }}
    {{- $middlewares = concat $middlewares .Values.traefik.routerMiddlewares }}
    {{- end }}
    {{- if and .Values.traefik.stickyHeaderMiddleware.enabled .Values.traefik.stickyHeaderMiddleware.name }}
    {{- $stickyNs := default .Values.namespace .Values.traefik.stickyHeaderMiddleware.namespace }}
    {{- $stickyName := .Values.traefik.stickyHeaderMiddleware.name }}
    {{- $middlewares = append $middlewares (dict "name" $stickyName "namespace" $stickyNs) }}
    {{- end }}
    {{- if $middlewares }}
    middlewares:
    {{- range $middlewares }}
    - name: {{ .name }}
      namespace: {{ default $.Values.namespace .namespace }}
    {{- end }}
    {{- end }}
{{- end }}
