{{- if .Values.traefik.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ printf "%s-traefik" (include "service.fullname" .) }}
  namespace: {{ .Values.namespace }}
spec:
  {{- if .Values.traefik.entryPoints }}
  entryPoints:
  {{- range .Values.traefik.entryPoints }}
  - {{ . }}
  {{- end }}
  {{- end }}
  routes:
  - match: Host(`{{ include "service.ingressHost" . }}`)
    services:
    - name: {{ printf "%s-service" (include "service.fullname" .) }}
      port: {{ .Values.service.port }}
      sticky:
        cookie:
          name: {{ default "Session-ID" .Values.traefik.stickyCookieName }}
    {{- if .Values.traefik.routerMiddlewares }}
    middlewares:
    {{- range .Values.traefik.routerMiddlewares }}
    - name: {{ .name }}
      namespace: {{ default $.Values.namespace .namespace }}
    {{- end }}
    {{- end }}
{{- end }}
